{% extends "broker/base.html" %}
{% block content %}
{% load static %}
<!--Reviews-->
<!--Reviews-->
<section id="reviews" class="bg-light">
    <div class="container-lg">
        <div class="text-center">
            <h2 class="mb-1"><i class="bi bi-stars"></i>Some More Reviews</h2>
            <p class="lead">Here are a few more reviews.</p>
        </div>
        <div class="row justify-content-center my-5">
            <div class="col-lg-8">
                <div class="list-group">
                    <div class="list-group-item py-3">
                        <h5 class="mb-1">Helped with the mortgage.</h5>
                        <p class="mb-1">
                            I was able to pay my mortgages, which at a time began to seem like something I wouldn’t be
                            able to handle. I’m happy I
                            was able to. Would recommend this platform
                        </p>
                        <small>Review by Jacky Gimenez</small>
                    </div>
                    <div class="list-group-item py-3">
                        <h5 class="mb-1">Transparent and no surprises.</h5>
                        <p>
                            Very transparent, what was promised was what was delivered. So far I’ve
                            been satisfied. Recommended it to friends and
                            had no regrets.
                        </p>
                        <small>Review by Laura James.</small>
                    </div>
                    <div class="list-group-item py-3">
                        <h5 class="mb-1">Professional and transparent</h5>
                        <p>
                            Best investing platform, no problems. Professional and transparent. Perfect, so far it has
                            meet all what it originally promised
                        </p>
                        <small>Review by Harry John</small>
                    </div>
                    <div class="list-group-item py-3">
                        <h5 class="mb-1">Improved Financial earnings</h5>
                            <p>My earnings and finances have improved since I started using this platform, I’ve not only
                                been able to live comfortably
                                but also have some money saved up as well, to add to my pension and retirement plans</p>
                            <small>Review Razak James Muller</small>
                    </div>
                    <div class="list-group-item py-3">
                        <h5 class="mb-1">Fast Withdrawals.</h5>
                        <p>
                            This is the best broker ever, transactions were smooth, easy to withdraw and payments are
                            fast.
                        </p>
                        <small>Review by Grace Nkosi.</small>
                    </div>

                    <div class="list-group-item py-3">
                        <h5 class="mb-1">Friendly and helpful acconut managers.</h5>
                        <p>
                            I am happy with the service, I’ve been trading for more than a year now, the account
                            managers were nice
                        </p>
                        <small>Review by Nomi Khan.</small>
                    </div>

                    <div class="list-group-item py-3">
                        <h5 class="mb-1">Good UI to monitor prices of financial assets.</h5>
                        <p>
                            Love the platform, easy to use and trade with. The account managers were nice, but
                            additional part I love the fact that
                            in my portfolio page, I was able to monitor the price of financial assets on my portfolio
                            page
                        </p>
                        <small>Review by Copeland Mirella</small>
                    </div>

                    <div class="list-group-item py-3">
                        <h5 class="mb-1">Helped me set up a Medium scale business in India.</h5>
                        <p>
                            I’ve been using the Broker for quite some time now, I’m quite satisfied so far and
                            encountered no problems.
                        </p>
                        <small>Review by Beliang Jeffrey.</small>
                    </div>

                    <div class="list-group-item py-3">
                        <h5 class="mb-1">Beginner friendly.</h5>
                        <p>
                            From South Africa here, did not know much about finance. Coming across this platform was a
                            great help to be, seeing how
                            much financial assets available
                        </p>
                        <small>Review by David Dlamini.</small>
                    </div>

                    <div class="list-group-item py-3">
                        <h5 class="mb-1">Great for beginners.</h5>
                        <p>
                            I am very to come have across this platform, its easy to use and it does exactly what it
                            says it will do. Handle your
                            finances, without the need for you to know much about finances.
                        </p>
                        <small>Review by John Kleper.</small>
                    </div>

                    <div class="list-group-item py-3">
                    <h5 class="mb-1">Great for beginners.</h5>
                    <p>
                        I am very to come have across this platform, its easy to use and it does exactly what it says it
                        will do. Handle
                        your
                        finances, without the need for you to know much about finances.
                    </p>
                    <small>Review by John Kleper.</small>
                </div>

                <div class="list-group-item py-3">
                    <h5 class="mb-1">swift payments.</h5>
                    <p>
                        Very convenient service. Fast deposit and withdrawals, I knew I was going to be
                        sticking with them. I love this company
                    </p>
                    <small>Review by Wei Tan</small>
                </div>

                <div class="list-group-item py-3">
                    <h5 class="mb-1">Quick withdrawals.</h5>
                    <p>
                        Best Broker I’ve ever used. Withdrawals were quick.
                    </p>
                    <small>Review by Lee Lim.</small>
                </div>

                <div class="list-group-item py-3">
                    <h5 class="mb-1">Nice Interface.</h5>
                    <p>
                        A wonderful and nice broker with a good interface…I love this platform for giving me the
                        opportunity to invest, since
                        I’m not a financially savvy person.
                    </p>
                    <small>Review by Ben Martin.</small>
                </div>

                <div class="list-group-item py-3">
                    <h5 class="mb-1">User friendly.</h5>
                    <p>
                        Very user friendly. Though not being a most financially savvy individual, I found it a little
                        difficult to deposit, but
                        my account manager was very nice and helpful. I found withdrawals very convenient and easy
                    </p>
                    <small>Review by Yong Wong.</small>
                </div>

                <div class="list-group-item py-3">
                    <h5 class="mb-1">Inclusivity</h5>
                    <p>
                        A very good platform. I especially love it because it has a friendly interface and being from a
                        developing country, I
                        love the fact that it has a low fee so that people from countries who don’t have a lot of money
                        can get started. I
                        started with only $90, and as my returns increased I was able to increase the amount. I would
                        recommend this platform
                    </p>
                    <small>Review by Evan Adrian.</small>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>




{% endblock %}